@{
    ViewData["Title"] = "Home Page";
}

<div class="container-main">
    <div class="header-section">
        <div class="header-left">Dashboard>Main>Home</div>
        <div class="header-right">
            <input type="text">
            <button type="button">Search</button>
        </div>
    </div>
    <div class="container-body">
        <div class="left-side">
            <div class="logo">WIKI</div>
            <div class="btn-tab">
                <div class="btn-tab-item">Page Operations</div>
                <div class="btn-tab-item">Browser Space</div>
                <div class="btn-tab-item">Add Content</div>
            </div>
        </div>
        <div class="right-side">
            <div class="right-side-header">
                <div class="right-side-header-item"><a target="_blank" href="default.asp" target="_blank">Welcome Peldi</a></div>
                <div class="right-side-header-item"><a target="_blank" href="default.asp" target="_blank">History</a></div>
                <div class="right-side-header-item"><a target="_blank" href="default.asp" target="_blank">Preferences</a></div>
                <div class="right-side-header-item"><a target="_blank" href="default.asp" target="_blank">Administration</a></div>
                <div class="right-side-header-item"><a target="_blank" href="default.asp" target="_blank">Log Out</a></div>
                <div class="right-side-header-item"><a target="_blank" href="default.asp" target="_blank">Print</a></div>
            </div>
            <div class="right-side-content-container">
                <div class="right-side-content">
                    <div class="right-side-content-title">
                        <div class="right-side-content-title-direct">Main</div>
                        <div class="right-side-content-title-right">
                            <div>Flag</div>
                            <div>Mail</div>
                        </div>
                    </div>
                    <div class="right-side-content-data">
                        <div class="right-side-content-data-name">
                        </div>
                        <div class="right-side-content-data-desc">
                        </div>
                    </div>

                </div>
                <div class="right-side-content-footer">
                    <div class="right-side-content-footer-1st">
                        <div class="right-side-content-footer-1st-item">10 Children</div>
                        <div class="right-side-content-footer-1st-item"><a target="_blank" href="default.asp" target="_blank">Show Children</a></div>
                        <div class="right-side-content-footer-1st-item"><a target="_blank" href="default.asp" target="_blank">View in Hierachy</a></div>
                        <div class="right-side-content-footer-1st-item"><a target="_blank" href="default.asp" target="_blank">Add Child Page</a></div>
                    </div>
                    <div class="right-side-content-footer-2nd">
                        <div class="right-side-content-footer-2nd-item">Page</div>
                        <div class="right-side-content-footer-2nd-item">0 comments</div>
                        <div class="right-side-content-footer-2nd-item"><a target="_blank" href="default.asp" target="_blank">Add Comment</a></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
